<!--<form [formGroup]="form" >
  <div class="form-group">
    <label for="username">User Name</label>
    <input
      formControlName="username" type="text" class="form-control" id="username">
    <div class="alert alert-danger" *ngIf="username.touched && username.invalid ">
      Must be a email
      <div *ngIf="username.errors.required">User name is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="">Password</label>
    <input
      formControlName="password" id="password" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="password.touched && password.invalid ">
      Please Enter password
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>-->

<form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
  <h2 class="form-signin-heading">Please sign in</h2>
  <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>
  <label for="inputEmail" class="sr-only">Email address</label>

  <input type="email"
         id="inputEmail"
         name="email"
         ngModel class="form-control"
         placeholder="Email address"
         required autofocus>

  <label for="inputPassword" class="sr-only">Password</label>

  <input type="password"
         id="inputPassword"
         name="password"
         ngModel class="form-control"
         placeholder="Password"
         required>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
