<form [formGroup]="form" >
  <div class="form-group">
    <label for="username">User Name</label>
    <input
      formControlName="username" type="text" class="form-control" id="username">
    <div class="alert alert-danger" *ngIf="username.touched && username.invalid ">
      Must be a email
      <div *ngIf="username.errors.required">User name is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="">Password</label>
    <input
      formControlName="password" id="password" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="password.touched && password.invalid ">
      Please Enter password
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
