<section class="content">
  <div class="container-fluid">
    <!-- Main row -->
    <div class="row">
      <div class="col col-12 col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Customer Details</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form action="" [formGroup]="formName">
          <div class="card-body">
            <div class="form-group">
              <label for="txtId">Customer ID</label>
              <input
                [readonly]="tablelick"
                [(ngModel)]="id"
                type="text"  class="form-control" formControlName="id"  id="txtId" placeholder="Enter Customer ID">
            </div>
            <div class="form-group">
              <label for="txtName">Customer Name</label>
              <input
                [(ngModel)]="name"
                type="text"  class="form-control" formControlName="name"  id="txtName" placeholder="Enter Customer Name">
            </div>
            <div class="form-group">
              <label
                for="txtCustomerAddress">Customer Adddress</label>
              <input
                [(ngModel)]="address"
                type="text"  class="form-control" formControlName="address"  id="txtCustomerAddress" placeholder="Enter Customer Address">
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button (click)="saveCustomer()" type="submit" class="btn btn-primary" id="btnSubmit">{{save}}</button>
            <button (click)="clearClick()" type="reset" class="btn btn-warning" id="btnClear">Clear</button>
          </div>
          </form>
        </div>

        <!-- /.card -->
      </div>
      <div class="col col-12 col-md-6">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <table id="tbl-customer" class="table table-hover table-bordered">
              <thead>
              <tr>
                <th class="text-center">ID</th>
                <th>Customer Name</th>
                <th>Customer Address</th>
                <th></th>
              </tr>
              </thead>

              <tbody *ngFor="let customer of customers">
              <tr (click)="tableClick(customer)" class="mouseChange">
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.address}}</td>
                <td>
                  <button (click)="btnDeleteClick(customer)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
              </tbody>

              <tfoot style="display: none;">
              <tr>
                <td colspan="5" class="center">There are no records In This Page right now !</td>
              </tr>
              </tfoot>
            </table>
          </div><!-- /.card-body -->
          <div class="card-footer" id="pagination">
            <ul class="pagination pagination-sm m-0">
              <div class="pagination">
                <a href="#" id="backword">«</a>
                <a href="#" id="first" class="active">1</a>
                <a href="#" id="middle">2</a>
                <a href="#" id="last">3</a>
                <a href="#" id="forword">»</a>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
